.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #7a7c7d, #9b9d9e);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
    -fx-text-fill: #1fc4b0;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
            #7a7c7d,
            #9b9d9e,
            radial-gradient(center 50% 50%, radius 100%, #9b9d9e, #7a7c7d);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.text-field {
    -fx-prompt-text-fill: red;
    -fx-font-size: 16;
}

.text-field .text {
    -fx-effect: dropshadow( two-pass-box , #030303, .5, .5 , 1 , 1);
}

.text-field:empty {
    -fx-effect: null ;
}

.text-field:determinate {
    -fx-effect: null;
}
.label {
    -fx-font-size: 50;
    -fx-font-family: Ebrima;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgb(255, 0, 47), 6, 0.0 , 0 , 2 );
}
.background{
    -fx-background-image: url("../pictures/profileMenuBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
.secondLabel {
    -fx-font-size: 16;
    -fx-font-family: Ebrima;
    -fx-text-fill: #84f384;
    -fx-effect: none;
    -fx-background-color: transparent !important;
}
.firstPic{
    -fx-background-image: url("../pictures/0.png");
    -fx-background-position: 100 20;
}