Button{
    -fx-pref-width: 200;
    -fx-pref-height: 14;
    -fx-effect: dropshadow( one-pass-box , #d54444, 8 , 0.0 , 2 , 0 );
    -fx-font-style: italic;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, rgba(115, 42, 213, 0.83) 0%, #326dda 100%),
            #1a9bda,
            #31a3e0,
            radial-gradient(center 50% 50%, radius 100%, rgba(255, 84, 84, 0.7), #f11111);
}
Label{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgb(175, 27, 27), 6, 0.0 , 0 , 2 );
}
.BackGround {
    -fx-background-image: url("../pictures/mainMenu.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 1280 920;
}
TextField{
    -fx-max-height: 16;
    -fx-max-width: 300;
    -fx-background-color: #0bc7f1;
    -fx-arc-height: 14;
    -fx-arc-width: 20;
    -fx-border-color: #b70000;
    -fx-text-fill: #181818;
    -fx-prompt-text-fill: #494949;
}
Text{
    -fx-font-size: 50;
    -fx-border-color: #4d0000;
    -fx-background-color: #8f0202;
}
